h3{
    text-align: center;
    background-color: blueviolet;
    font-size: 2rem;
}

p{
    background-color: blueviolet;
    
    
}

label{
    color: black;
   font-size: larger;
   
   
}

input{
 border-radius: 0.2rem;
 
}